.articles {
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
}

.articles article {
  background-color: rgba(11, 5, 5, 0.07);
  display: flex;
  flex-direction: column;
}

.articles article p {
  padding: 0;
  margin: 0.5em;
}

.education main .career {
  margin: auto;
}
.heading{
    font-weight: 700;
   
}
@media screen and (max-width: 520px){
    .articles {
        display: flex;
      flex-direction: column;
      align-items: center;
      }

     .education article .heading{
        border-bottom: 1px solid green;
        margin-left: 40px;
        margin-right: 40px;
     } 
}

@media screen and (max-height: 530px){
    .articles {
        margin-bottom: 2em;
    } 
}